:root {
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(18, 19, 26, 1);
  --heading-bold-heading-bold-l-font-family: "Satoshi", Helvetica;
  --heading-bold-heading-bold-l-font-weight: 700;
  --heading-bold-heading-bold-l-font-size: 32px;
  --heading-bold-heading-bold-l-letter-spacing: 0px;
  --heading-bold-heading-bold-l-line-height: normal;
  --heading-bold-heading-bold-l-font-style: normal;
  --body-body-regular-l-font-family: "Satoshi", Helvetica;
  --body-body-regular-l-font-weight: 400;
  --body-body-regular-l-font-size: 16px;
  --body-body-regular-l-letter-spacing: 0px;
  --body-body-regular-l-line-height: normal;
  --body-body-regular-l-font-style: normal;
  --label-bold-labdel-bold-m-font-family: "Satoshi", Helvetica;
  --label-bold-labdel-bold-m-font-weight: 700;
  --label-bold-labdel-bold-m-font-size: 14px;
  --label-bold-labdel-bold-m-letter-spacing: 0px;
  --label-bold-labdel-bold-m-line-height: normal;
  --label-bold-labdel-bold-m-font-style: normal;
  --label-medium-labdel-medium-m-font-family: "Satoshi", Helvetica;
  --label-medium-labdel-medium-m-font-weight: 500;
  --label-medium-labdel-medium-m-font-size: 14px;
  --label-medium-labdel-medium-m-letter-spacing: 0px;
  --label-medium-labdel-medium-m-line-height: normal;
  --label-medium-labdel-medium-m-font-style: normal;
  --label-medium-labdel-medium-s-font-family: "Satoshi", Helvetica;
  --label-medium-labdel-medium-s-font-weight: 500;
  --label-medium-labdel-medium-s-font-size: 12px;
  --label-medium-labdel-medium-s-letter-spacing: 0px;
  --label-medium-labdel-medium-s-line-height: normal;
  --label-medium-labdel-medium-s-font-style: normal;
  --label-bold-label-bold-l-font-family: "Satoshi", Helvetica;
  --label-bold-label-bold-l-font-weight: 700;
  --label-bold-label-bold-l-font-size: 16px;
  --label-bold-label-bold-l-letter-spacing: 0px;
  --label-bold-label-bold-l-line-height: normal;
  --label-bold-label-bold-l-font-style: normal;
  --label-medium-label-medium-l-font-family: "Satoshi", Helvetica;
  --label-medium-label-medium-l-font-weight: 500;
  --label-medium-label-medium-l-font-size: 16px;
  --label-medium-label-medium-l-letter-spacing: 0px;
  --label-medium-label-medium-l-line-height: normal;
  --label-medium-label-medium-l-font-style: normal;
  --label-regular-label-regular-font-family: "Satoshi", Helvetica;
  --label-regular-label-regular-font-weight: 400;
  --label-regular-label-regular-font-size: 12px;
  --label-regular-label-regular-letter-spacing: 0px;
  --label-regular-label-regular-line-height: normal;
  --label-regular-label-regular-font-style: normal;
  --cards-dropdown-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  --shadow: 0px 1.5px 3px 0px rgba(18, 19, 26, 0.25);
}
